.Animals {
    text-align: center;
}

.Animals-name {
 text-align: center;
 margin: 0;
}

.Animals-headerButton{
    float:right;
}

.Animal-Image {
    float: center;
}
.Animal-link {
    float: center;
}

/* .About {
    text-align: center;
}

.Characteristics {
    text-align: center;
}

.Behavior {
    text-align: center;
}

.Health {
    text-align: center;
}

.Contact-info {
    text-align: center;
} */
.Card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* width: 100px; */
    background-color: white;

}