.Pet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Pet-image {
    height: 50vh;
    width: 100%;
}

.Pet-aboutMe {
    border: 1px solid black;
    margin-top: 10px; 
    border-radius: 5px;
}

.Pet-category {
    margin: 20px 0 15px 5px;
}

.Pet-Text {
    margin: 10px;
}

.Pet-title {
    margin: 10px 5px;
}

.Pet-headerBtn {
    padding: 10px 5px;
    font-size: 18pt;
    font-weight: bold;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: teal;
    color: whitesmoke;
}