.Header {
    margin-top: 80px;
    background-color: whitesmoke;
    border-bottom: 2px solid black;
}

.Header-main {
    position: absolute;
    top: 0;
    width: 90%;
    height: 80px;
    padding: 0 5%;
    display: grid;
    grid-template-columns: 150px auto;
    align-content: center;
    border-bottom: 2px solid black;
    background-color: teal;
}

.Header-logo {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Header-navBtn {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: whitesmoke;
    border-radius: 5px;
    color: darkslategrey;
    font-weight: bold;
}

.Header-menu {
    margin: 0;
    padding: 0;
}

.Header-menuItem {
    margin-top: -1px;
    padding: 10px;
    list-style: none;
    border-top: 1px solid silver;
}

.Header-searchForm {
    display: flex;
}

.Header-searchName {
    width: 100%;
    padding: 5px;
    font-size: 14pt;
    border-radius: 5px;
}

.Header-filterRow {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.Header-filterSelect {
    display: block;
}

.Header-filterLabel {
    width: 100%;
}

.Header-filterCheckbox {
    display: flex;
    flex-direction: column;
}

.Header-filterCheckbox label {
    margin-left: 5px;
}